<div class="animated fadeInDown">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="map-logo"><img src="img/Logo-name.svg" alt="m.a.p" height="60" width="150" style="margin-left:10px;"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html" id="nav-icon"><i class="material-icons left">person</i>About</a></li>
        <li><a href="badges.html" id="nav-icon"><i class="material-icons left">collections</i>Portfolio</a></li>
        <li><a href="mobile.html" id="nav-icon"><i class="material-icons left">email</i>Contact Me</a></li>
      </ul>
    </div>
  </nav>
</div>
