<% include partials/header %>
<% include partials/nav %>
<!--<% include partials/loading_screen %>-->

    <div class="parallax-container center-align">
      <div class="parallax">
        <video class="bv-video" style="left:0px;"></video>
      </div>
      <object data="img/Logo.svg" type="image/svg+xml" id="logo" alt="m.a.p" height="300" width="500" style="margin-top:8%; opacity:0;"></object>
      <div id="header_title" class="container" style="border-bottom: 1px solid rgba(255, 255, 255, 0.6);">
        <h3 style="color:white; font-weight: 100;">M.A.P Your Path To Success</h3>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div id="about_me" class>
          <div class="col s4 center-align">
            <img id="profile_pic" class="circle responsive-img" src="img/profile_pic.png">
          </div>
          <div class="col s8">
            <h1 class="center-align">About Me</h1>
            <p>Hello, I'm Mharc, a designer, and developer specializing in web design and digital media. Experienced with all stages of the development lifecycle for dynamic web projects. Well-versed in numerous programming languages including Java, SQL, C, C#, and ASP.NET. I've got a strong background in web and graphic design. Works well under pressure and consistently meets deadlines and while delivering high-quality work. When I'm not in developing, I enjoy photography, basketball, and gaming with my friends.</p>
          </div>
        </div>
      </div>
      <br><br>
    </div>

    <div class="row no_frame">
      <div class="col s12 m12 l12 no_frame" style="height: 250px;">
        <div class="row no_frame">
          <div class="col s8 m8 l8 no_frame">
            <div class="row no_frame">
              <div class="col s6 m6 l6 no_frame" style="height:125px;">
                <div id="cupe" class>
                  <a target="_blank" href="http://mms.cupe2544.ca/"><img id="portfolio_img" src="img/portfolio/cupe2544.png" width="100%" style="height:auto;"></a>
                </div>
              </div>
              <div id="frontend" class>
                <div class="col s6 m6 l6 no_frame hoverable" id="text_box" style="background-color: rgb(38, 166, 154);">
                  <h3>Front End Developer</h3>
                  <blockquote>HTML, CSS, Javascript, jQuery, and PHP</blockquote>
                </div>
              </div>
            </div>
            <div class="row no_frame" height="125px">
              <div class="col s12 m12 l12 no_frame hoverable" style="height:125px; overflow:hidden">
                <div id="musika" class>
                  <a target="_blank" href="http://159.203.11.185/"><img id="portfolio_img" src="img/portfolio/musikamississauga.png" width="100%" style="position: relative; top: -90px;"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col s4 m4 l4 no_frame">
            <div class="col s3 hoverable" id="portfolio" height="250px">
              <div id="appetite" class>
                <a target="_blank" href="http://myappetite.ca/"><img id="portfolio_img" src="img/portfolio/appetite.png" width="100%" height="250px"></a>
              <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l12 no_frame">
        <div class="row no_frame" style="height: 250px;">
          <div class="col s4 m4 l4 no_frame">
            <div class="row no_frame">
              <div id="graphics" class>
                <div class="hoverable col s3 second_box" id="text_box" style="background-color: #ff4400; padding-left: 5% !important;">
                  <h3>Graphics</h3>
                  <blockquote>Photoshop, Illustrator, Typography, Color Theory and Web Design</blockquote>
                </div>
              </div>
            </div>
          </div>
          <div class="col s8 m8 l8 no_frame">
            <div class="row no_frame">
              <div id="cuba" class>
                <div class="hoverable col s6 m6 l6 no_frame" style="height:125px;">
                  <a class="waves-effect waves-light modal-trigger" href="#modal1"><img id="portfolio_img" src="img/portfolio/cuba.jpg" width="100%" style="height:125px;"></a>
                </div>
              </div>
              <div id="backend" class>
                <div class="hoverable col s6 m6 l6 no_frame" id="text_box" style="height:125px;">
                  <h3>Back End Developer</h3>
                  <blockquote>SQL, PHP, Node.js, .Net, and Java</blockquote>
                </div>
              </div>
            </div>
            <div class="row no_frame" height="125px">
              <div id="designs" class>
                <div class="hoverable col s12 m12 l12 no_frame" style="height:125px; overflow:hidden">
                  <a class="waves-effect waves-light modal-trigger" href="#modal2"><img id="portfolio_img" src="img/portfolio/MealPlan.jpg" width="100%" style=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
    <div class="parallax-container center-align" style="height: 135px;top:0;">
      <div class="row" align="center">
        <div id="icons" class>
          <div class="col s2" id="name_skills"><i class="material-icons" id="skills">code</i>Coding</div>
          <div class="col s2" id="name_skills"><i class="material-icons" id="skills">computer</i>Web Design</div>
          <div class="col s2" id="name_skills"><i class="material-icons" id="skills">timeline</i>Social Media</div>
          <div class="col s2" id="name_skills"><i class="material-icons" id="skills">search</i>SEO</div>
          <div class="col s2" id="name_skills"><i class="material-icons" id="skills">crop_original</i>Grpahic Design</div>
          <div class="col s2" id="name_skills"><i class="material-icons" id="skills">cloud_queue</i>Cloud Services</div>
        </div>
      </div>

      <div class="parallax" style="top:80px;">
        <img src="img/header-bg2.jpg">
      </div>
    </div>
    <div class="container">
      <br><br>
      <div id="contact" class>
        <div class="row">
          <center>
            <h3> Contact Me </h3>
          </center>
          <br>
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">First Name</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">account_box</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone">Cell Number</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone">Email</label>
              </div>
            </div>
            <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">text_format</i>
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Share Your Idea</label>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <div class="slider">
          <ul class="slides">
            <li>
              <img src="img/portfolio/cuba_full.jpg">
            </li>
            <li>
              <img src="img/portfolio/cafe_full.jpg">
            </li>
            <li>
              <img src="img/portfolio/building.jpg">
            </li>
            <li>
              <img src="img/portfolio/cuban_white_house.jpg">
            </li>
            <li>
              <img src="img/portfolio/falls_full.jpg">
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="modal2" class="modal">
      <div class="modal-content">
        <div class="slider">
          <ul class="slides">
            <li>
              <img src="img/portfolio/MealPlan_full.jpg">
            </li>
            <li>
              <img src="img/portfolio/bottletags.jpg">
            </li>
            <li>
              <img src="img/portfolio/TableNumber.jpg">
            </li>
            <li>
              <img src="img/portfolio/AppetiteGraphic.jpg">
            </li>
          </ul>
        </div>
      </div>
    </div>


    <script src="js/backgroundVideo.js"></script>
    <script>
      const backgroundVideo = new BackgroundVideo('.bv-video', {
        src: [
          'video/bounce_city3.mp4'
        ],
        onReady: function () {
          // Use onReady() to prevent flickers or force loading state
          const vidParent = document.querySelector(`.${this.bvVideoWrapClass}`);
          vidParent.classList.add('bv-video-wrap--ready');
        }
      });
    </script>

<% include partials/footer %>
